*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.lock
*.o
*.prof
.HTF/
.vscode
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.vscode
.stack-work/
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*
